{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom"><a href="/">Azure OSS Blog</a></h3>

        <div class="blog-post">
          <h2 class="blog-post-title">{{ post.post_title }}</h2>
          <p class="blog-post-meta">Published: {{ post.pub_date }} by <a href="#">{{ post.author }}</a></p>
          <p> {{ post.post_content }}</p>
          <hr>
        </div>

        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="/">Go back</a>
        </nav>
      </div>

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">About</h4>
          <p class="mb-0">Django sample app</p>
        </div>

        <div class="p-3">
          <h4 class="font-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
          </ol>
        </div>

        <div class="p-3">
          <h4 class="font-italic">Other references</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Azure Blogs</a></li>
            <li><a href="#">MSDN</a></li>
          </ol>
        </div>
      </aside>
    </div>
  </main>

  <footer class="blog-footer">
    <p>Azure App Service</p>
    <p><a href="#">Back to top</a></p>
  </footer>